{{- $breaking := newStringList -}}
{{- $features := newStringList -}}
{{- $enhancements := newStringList -}}
{{- $bugs := newStringList -}}
{{- range . -}}
  {{if .BreakingChange -}}
  {{$breaking = append $breaking (renderReleaseNote .) -}}
  {{else if or .NewDatasource .NewResource -}}
  {{$features = append $features (renderReleaseNote .) -}}
  {{else if not .Bug -}}
  {{$enhancements = append $enhancements (renderReleaseNote .) -}}
  {{else -}}
  {{$bugs = append $bugs (renderReleaseNote .) -}}
  {{end -}}
{{- end -}}
{{- if gt (len $breaking) 0 -}}
BACKWARDS INCOMPATIBILITIES

{{range $breaking | sortAlpha -}}
* {{. }}
{{end -}}
{{- end -}}
{{- if gt (len $features) 0}}
FEATURES

{{range $features | sortAlpha -}}
* {{. }}
{{end -}}
{{- end -}}
{{- if gt (len $enhancements) 0}}
ENHANCEMENTS

{{range $enhancements | sortAlpha -}}
* {{. }}
{{end -}}
{{- end -}}
{{- if gt (len $bugs) 0}}
BUG FIXES

{{range $bugs | sortAlpha -}}
* {{. }}
{{end -}}
{{- end -}}